<img class="productimage" src="{{product.thumbnail}}">
<div class="productdescription">{{product.description}}</div>
<div class="pointborder">
    <div class="productpoints">{{product.points | number:0}} punten</div>
</div>
<div ng-if="product.points <= user.remainingPoints && purchased.indexOf(product.id) == -1" class="btn" class="btn btn-active" ng-click="purchase(product)">Inwisselen</div>
<div ng-if="product.points > user.remainingPoints && purchased.indexOf(product.id) == -1" class="notenoughpoints">Nog {{product.points - user.remainingPoints | number:0}} punten</div>
<div ng-if="purchasedProducts.indexOf(product.id) > -1" class="purchasedproduct">Already purchased</div>

