<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>
<body>

<table border="1" style="width:300px; height:300px">
    <tr>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
    </tr>
    <tr>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
    </tr>
    <tr>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
        <td ng-click="pickField" style="cursor:pointer"></td>
    </tr>
</table>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="js/tic_tac_toe.js"></script>
</html>