html, body {
    margin: 25px 25px 25px 25px;
}

body {
    font-family: Arial, serif;
}

.circular {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.header h1 {
    color: #000;
    font-size: 50px;
    font-weight: bold;
    text-transform: lowercase;
}

.card {
    overflow: hidden;
    position: relative;
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
    border: solid;
    padding: 30px;
    border-radius: 25px;
    border-color: #A0B8B8;
}

.name {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.description {
    color: #afafaf ;
    font-size: 14px;
}

.points {
    color: #A0B8B8;
    font-size: 24px;
    font-weight: 700;
    /*border-style: solid;*/
    /*border-color: #A0B8B8;*/
}

.btn {
    height: 50px;
    width: 100%;
    background-color: #BCD2EE;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    line-height: 50px;
}

.btn:hover {
    color: green;
    background: #ADFF2F;
    transition: background 500ms;
}

.btn-downloaded {
    background-color: #ababab ;
    color: #3f3f3f ;
}

.notenoughpoints {
    height: 50px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    line-height: 50px;
}

.title {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

.itemdescription {
    color: #3f3f3f;
    font-size: 50px;
    font-weight: 900;
    text-transform: lowercase;
}

hr { width:100%; height:2px; background: #3f3f3f }